@use "sass:color";
@import "~admin-stylesheets/colors";
@import "~admin-stylesheets/variables";

.nab-experiment-title {
	margin: 0 auto;
	max-width: 70em;
	width: 100%;

	&__edit {
		border: 1px solid transparent;
		border-left: none;
		box-shadow: none;
		font-family: $font-family;
		font-size: 2em;
		font-weight: 500;
		height: auto;
		line-height: 1.4;
		margin: 0;
		padding: 1em;
		width: 100%;

		&:hover {
			border-color: transparent;
			box-shadow: -3px 0 0 0 $color__border;
		}

		&:focus,
		&:active {
			border-color: $color__border;
			box-shadow: -3px 0 0 0 color.adjust($color__border, $lightness: -30%);
		}
	}
}
